venv/
.env
outputs/*.mp4
outputs/**/*.mp4
outputs/**/*.png
outputs/*.mov
outputs/**/*.mov
outputs/*.wav
outputs/**/*.wav
outputs/*.mp3
outputs/**/*.mp3
outputs/*.txt
outputs/**/*.txt
outputs/**/*.json
outputs/*TEMP*
outputs/**/*TEMP*
outputs/render_temp/
outputs/**/render_temp/
assets/*
music/*
subtitles/
__pycache__/
*.pyc
*.mp4
*.mov
*.wav
*.mp3
!.env.example
!assets/
!assets/images/
assets/images/*
!assets/images/.gitkeep
!assets/broll/
assets/broll/
!assets/broll/.gitkeep
!music/
music/*.mp3
!music/.gitkeep
